@model WP.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="w3-display-middle" style="width:600px">
    <h2>Sign In</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "w3-text-red", placeholder = "Password" })
        <div class="mb10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "w3-input", placeholder = "Username", required = "required" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "w3-text-red " })
        </div>
        <div class="mb10">
            @Html.PasswordFor(model => model.Password, new { @class = "w3-input", placeholder = "Password", required = "required" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "w3-text-red" })
        </div>
        <div class="w3-center">
            <input type="submit" value="Sign in" class="w3-btn w3-white w3-border w3-border-green w3-text-green w3-round-large w3-center mb10" />
            <p>
                Don't have account? <a class="w3-hover-text-blue" href="@Url.Action("Register", "Account")">Sign up</a>
            </p>
            <p>
                <a class="w3-hover-text-blue" href="">Forgot password?</a>
            </p>
        </div>
    }
</div>

